@model IEnumerable<MVC.Models.Aluno>
@{
    ViewData["title"] = "Listar alunos";
}
<h1>listar aluno</h1>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nome</th>
            <th>Email</th>
            <th>Matrícula</th>
        </tr>
    </thead>

</table>
